.test--items {
  flex: 1 0 48%;
  /* margin: 5px; */
  /* height: 100px; */
  border: 1px solid #c3126b;
  border-radius: 80px 80px 0 0;
  font-size: 28px;
}
.test-right {
  /* color: #C3126B; */
  font-weight: 800;
  text-align: center;
  border-radius: 80px 0px 0px 80px !important;
}
.test-right:first-child {
  max-width: 30%;
  margin-left: 20%;
}
.test-question {
  padding: 77px;
  background-color: #ffd2da;
}

.test-left {
  /* color: #C3126B; */
  text-align: center;
  border-radius: 60px;
  background-color: #393267 !important;
  color: #fff2f8;
}
.test-left:first-child {
  max-width: 30%;
  margin-left: 20%;
  font-weight: 800;
}
.test-left-header {
  max-width: 30%;
  margin-right: 20%;
}
.card-border {
  border-radius: 20px 20px 0 0;
  max-width: 553px;
  max-height: 426px !important;
  font-weight: 800;
  font-size: 36px;
  margin: auto;
  border: 1px solid #c3126b;
}
.test-img {
  max-width: 450px;
}

.test-answer {
  /* min-height: 170px;
  min-width: 170px;
  max-width: 400px;
  max-height: 400px; */
  border-radius: 20px;
  background-color: #ffd2da !important;
  color: #393267;
  text-align: center;
  padding: 10px;
  flex: 1 0 40%;
  margin: 10px;
  position: relative;
  width: 50%;
  /* justify-self: baseline; */
}
.test-answer::after {
  content: "";
  float: left;
  padding-top: 100%;
}
.test-answer-content {
  float: left;
  background-color: #ffd2da !important;
  padding: 0;
}
.test-btn-mobile {
  opacity: 0;
}

.test-answers {
  border-radius: 40px !important;
  background-color: #393267 !important;
}
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .test-right-header,
  .test-left-header {
    display: none;
  }
  .test-right:last-child {
    border: none;
  }
  .test-img {
    max-width: 320px;
  }
  .test-question {
    padding: 18px;
    font-size: 25px;
  }
  .test-btn {
    display: none;
  }
  .test--items {
    border: none;
    margin-top: -51px;
  }
  .test-answers {
    font-size: 20px;
  }
  .test-answer {
    width: 100px;
    height: 100px;
  }
  .test-btn-mobile {
    opacity: 1;
  }
}

@media screen and (max-width: 765px) {
  .test-right-header,
  .test-left-header {
    display: none;
  }
  .test-right {
    border: none !important;
  }
  .test-img {
    max-width: 200px;
  }
  .test-question {
    padding: 4px;
  }
  .test-btn {
    display: none;
  }
  .test--items {
    border: none;
    margin-top: -44px;
  }
  .test-answers {
    font-size: 12px;
  }
  .test-answer {
    width: 100px;
    height: 100px;
  }
  .card-border {
    font-size: 15px;
  }
  .test-left {
    border-radius: 20px;
  }
}
